<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691924247904-48cmuvglkvj4hqodh07bgf41ec98shag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691924247904-48cmuvglkvj4hqodh07bgf41ec98shag</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ3VvXjxK1LDVzLw_IFufFtNLe5XEPHQM</string>
	<key>GCM_SENDER_ID</key>
	<string>691924247904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.hoptech.flutterToolbox</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-82392</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-82392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691924247904:ios:59b03e4bacb7cd7c4aea05</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-82392.firebaseio.com</string>
</dict>
</plist>